#jinja2: trim_blocks: True, lstrip_blocks: True
{###############################################
PURPOSE: Configure xSTP on OS10 Devices

################################################
Example:
dellos_xstp:
  OS10:
    type: rstp
    enable: true
    rstp:
      bridge_priority: 4096
    pvst:
      vlan:
        - range_or_id: 10
          bridge_priority: 4096
    mstp:
      mstp_instances:
        - number: 1
          vlans: 10,12
          vlans_state: present
          bridge_priority: 4096
    intf:
      - name: ethernet1/1/8
        edgeport: present
        state: present
#################################################}

{% if (dellos_xstp is defined and dellos_xstp) and (hostname in dellos_xstp) %}
{% set xstp_vars = dellos_xstp[hostname] %}
{% if xstp_vars.type is defined and xstp_vars.type %}
  {% if xstp_vars.enable is defined %}
    {% if xstp_vars.enable %}
spanning-tree mode {{ xstp_vars.type }}
    {% else %}
no spanning-tree mode {{ xstp_vars.type }}
    {% endif %}
  {% endif %}
{% endif %}
{% if xstp_vars.rstp is defined and xstp_vars.rstp %}
  {% set val = xstp_vars.rstp %}
    {% if val.bridge_priority is defined %}
      {% if val.bridge_priority == 0 or val.bridge_priority %}
spanning-tree rstp priority {{ val.bridge_priority }}
      {% else %}
no spanning-tree rstp priority
      {% endif %}
    {% endif %}
{% endif %}

{% if xstp_vars.pvst is defined and xstp_vars.pvst %}
  {% set val = xstp_vars.pvst %}
    {% if val.vlan is defined and val.vlan %}
      {% for vlan in val.vlan %}
        {% if vlan.range_or_id is defined and vlan.range_or_id %}
          {% if "-" in (vlan.range_or_id|string) %}
            {% set vlan_start_end = (vlan.range_or_id|string).split("-") %}
            {% set vlans = [] %}
            {% for id in range(vlan_start_end[0]|int,vlan_start_end[1]|int+1) %}
              {{ vlans.append(id) }}
            {% endfor %}
          {% else %}
          {% set vlans = (vlan.range_or_id|string).split(",")  %}
          {% endif %}
          {% for vlanid in vlans %}
            {% if vlan.bridge_priority is defined %}
              {% if vlan.bridge_priority == 0 or vlan.bridge_priority  %}
spanning-tree vlan {{ vlanid }} priority {{ vlan.bridge_priority }}
              {% else %}
no spanning-tree vlan {{ vlanid }} priority 
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endif %}
{% endif %}
{% if xstp_vars.mstp is defined and xstp_vars.mstp %}
  {% set val = xstp_vars.mstp %}
    {% if val.mstp_instances is defined and val.mstp_instances %}
      {% for instance in val.mstp_instances %}
        {% if instance.number is defined and instance.number %}
          {% if instance.bridge_priority is defined %}
            {% if instance.bridge_priority ==0 or instance.bridge_priority  %}
spanning-tree mst {{ instance.number }} priority {{ instance.bridge_priority }}
            {% else %}
no spanning-tree mst {{ instance.number }} priority
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if val.mstp_instances is defined and val.mstp_instances %}
spanning-tree mst configuration
      {% for instance in val.mstp_instances %}
        {% if instance.number is defined and instance.number %}
          {% if instance.vlans is defined and instance.vlans %}
            {% if instance.vlans_state is defined and instance.vlans_state == "absent" %}
 no instance {{ instance.number }} vlan {{ instance.vlans }}
            {% else %}
 instance {{ instance.number }} vlan {{ instance.vlans }}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
{% endif %}
{% if xstp_vars.intf is defined and xstp_vars.intf %}
  {% for intf in xstp_vars.intf %}
    {% if intf.name is defined and intf.name %}
      {% if intf.edgeport is defined %}
interface {{ intf.name }}
        {% if intf.edgeport == "absent" or not intf.edgeport %}
 no spanning-tree port type edge
        {% else %}
 spanning-tree port type edge
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
{% endif %}
